In [2]:
import pandas as pd
%matplotlib inline

In [3]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [4]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [4]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
train.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [6]:
test.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
dtype: int64

In [7]:
train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [13]:
pd.pivot_table(train, values="count", index=["holiday","season"], aggfunc="mean", margins=True)

                     count
holiday season
0       1       117.494837
        2       215.562756
        3       234.293136
        4       198.560273
1       1        73.929577
        2       197.833333
        3       237.822917
        4       210.750000
All             191.574132

In [14]:
pd.pivot_table(train, values="count", index=["workingday","season"], aggfunc="mean", margins=True)

                        count
workingday season
0          1       105.727273
           2       222.692857
           3       232.520270
           4       192.137387
1          1       121.326039
           2       211.949287
           3       235.330081
           4       202.283857
All                191.574132

In [15]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [6]:
data = [train, test]

for i in data:
    i.loc[i["humidity"]<5,"humidity2"]=1
    i.loc[(i["humidity"]>=5) & (i["humidity"]<15),"humidity2"]=2
    i.loc[(i["humidity"]>=15) & (i["humidity"]<30),"humidity2"]=3
    i.loc[(i["humidity"]>=30) & (i["humidity"]<50),"humidity2"]=4
    i.loc[(i["humidity"]>=50) & (i["humidity"]<75),"humidity2"]=5
    i.loc[(i["humidity"]>=75) & (i["humidity"]<85),"humidity2"]=6
    i.loc[(i["humidity"]>=85) & (i["humidity"]<95),"humidity2"]=7
    i.loc[(i["humidity"]>=95) & (i["humidity"]<=100),"humidity2"]=8

In [8]:
pd.pivot_table(train, values="count", index=["humidity2"], aggfunc="mean", margins=True)

                count
humidity2
1.0         28.318182
2.0         44.666667
3.0        295.378713
4.0        261.140998
5.0        193.232828
6.0        136.644271
7.0        100.012978
8.0         66.506667
All        191.574132

In [7]:
data = [train, test]

for i in data:
    i.loc[i["humidity"]<15,"humidity2"]=1
    i.loc[(i["humidity"]>=15) & (i["humidity"]<50),"humidity2"]=2
    i.loc[(i["humidity"]>=50) & (i["humidity"]<95),"humidity2"]=3
    i.loc[(i["humidity"]>=95) & (i["humidity"]<=100),"humidity2"]=4

In [11]:
pd.pivot_table(train, values="count", index=["humidity2"], aggfunc="mean", margins=True)

                count
humidity2
1.0         31.821429
2.0        265.504416
3.0        163.565933
4.0         66.506667
All        191.574132

In [12]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000

In [13]:
train["humidity2"].value_counts()

3.0    7538
2.0    3170
4.0     150
1.0      28
Name: humidity2, dtype: int64

In [14]:
test["humidity2"].value_counts()

3.0    4671
2.0    1698
4.0     124
Name: humidity2, dtype: int64

In [51]:
train["temp"].describe()

count    10886.00000
mean        20.23086
std          7.79159
min          0.82000
25%         13.94000
50%         20.50000
75%         26.24000
max         41.00000
Name: temp, dtype: float64

In [15]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000

In [54]:
train["count"].describe()

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64

In [8]:
for i in data:
    i.loc[i["temp"]<5,"temp2"]=1
    i.loc[(i["temp"]>=5) & (i["temp"]<10),"temp2"]=2
    i.loc[(i["temp"]>=10) & (i["temp"]<15),"temp2"]=3
    i.loc[(i["temp"]>=15) & (i["temp"]<20),"temp2"]=4
    i.loc[(i["temp"]>=20) & (i["temp"]<25),"temp2"]=5
    i.loc[(i["temp"]>=25) & (i["temp"]<30),"temp2"]=6
    i.loc[(i["temp"]>=30) & (i["temp"]<35),"temp2"]=7
    i.loc[i["temp"]>=35,"temp2"]=8

pd.pivot_table(train, values="count", index=["temp2"], aggfunc="mean", margins=True)

            count
temp2
1.0     53.263566
2.0     75.460177
3.0    131.797095
4.0    171.267885
5.0    209.965385
6.0    235.819432
7.0    334.538535
8.0    332.834197
All    191.574132

In [17]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060,0.255624,-0.088388,-0.002433
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504,0.004859,0.010091,-0.109748
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567,0.025632,0.013409,-0.934780
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603,-0.054109,0.012894,-0.032078
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683,0.984324,0.025075,-0.030873
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918,0.969867,-0.005787,-0.023405
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579,-0.066056,-0.270216,0.010463
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913,-0.016404,0.758020,-0.016816
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110,0.462507,0.105882,0.311558
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779,0.314014,0.112093,-0.114959
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210,0.389388,0.122667,-0.009925
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000,-0.049118,-0.220816,0.011990
temp2,0.255624,0.004859,0.025632,-0.054109,0.984324,0.969867,-0.066056,-0.016404,0.462507,0.314014,0.389388,-0.049118,1.000000,0.029100,-0.028099
windspeed2,-0.088388,0.010091,0.013409,0.012894,0.025075,-0.005787,-0.270216,0.758020,0.105882,0.112093,0.122667,-0.220816,0.029100,1.000000,-0.017470
weekend,-0.002433,-0.109748,-0.934780,-0.032078,-0.030873,-0.023405,0.010463,-0.016816,0.311558,-0.114959,-0.009925,0.011990,-0.028099,-0.017470,1.000000

In [19]:
train["windspeed"].describe()

count    10886.000000
mean        12.799395
std          8.164537
min          0.000000
25%          7.001500
50%         12.998000
75%         16.997900
max         56.996900
Name: windspeed, dtype: float64

In [9]:
data = [train, test]

for i in data:
    i.loc[i["windspeed"]<10,"windspeed2"]=1
    i.loc[(i["windspeed"]>=10) & (i["windspeed"]<20),"windspeed2"]=2
    i.loc[(i["windspeed"]>=20) & (i["windspeed"]<30),"windspeed2"]=3
    i.loc[(i["windspeed"]>=30) & (i["windspeed"]<40),"windspeed2"]=4
    i.loc[(i["windspeed"]>=40) & (i["windspeed"]<50),"windspeed2"]=5
    i.loc[i["windspeed"]>=30,"windspeed2"]=6

pd.pivot_table(train, values="count", index=["windspeed2"], aggfunc="mean", margins=True)

                 count
windspeed2
1.0         164.280710
2.0         210.292755
3.0         209.643258
6.0         202.257611
All         191.574132

In [10]:
for i in data:
    i.loc[i["windspeed"]<10,"windspeed2"]=1
    i.loc[i["windspeed"]>=10,"windspeed2"]=2

pd.pivot_table(train, values="count", index=["windspeed2"], aggfunc="mean", margins=True)

                 count
windspeed2
1.0         164.280710
2.0         209.662746
All         191.574132

In [16]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060,0.255624,-0.088388,-0.002433
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504,0.004859,0.010091,-0.109748
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567,0.025632,0.013409,-0.934780
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603,-0.054109,0.012894,-0.032078
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683,0.984324,0.025075,-0.030873
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918,0.969867,-0.005787,-0.023405
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579,-0.066056,-0.270216,0.010463
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913,-0.016404,0.758020,-0.016816
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110,0.462507,0.105882,0.311558
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779,0.314014,0.112093,-0.114959
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210,0.389388,0.122667,-0.009925
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000,-0.049118,-0.220816,0.011990
temp2,0.255624,0.004859,0.025632,-0.054109,0.984324,0.969867,-0.066056,-0.016404,0.462507,0.314014,0.389388,-0.049118,1.000000,0.029100,-0.028099
windspeed2,-0.088388,0.010091,0.013409,0.012894,0.025075,-0.005787,-0.270216,0.758020,0.105882,0.112093,0.122667,-0.220816,0.029100,1.000000,-0.017470
weekend,-0.002433,-0.109748,-0.934780,-0.032078,-0.030873,-0.023405,0.010463,-0.016816,0.311558,-0.114959,-0.009925,0.011990,-0.028099,-0.017470,1.000000

In [11]:
for i in data:
    i.loc[(i["holiday"]==0)&(i["workingday"]==0),"weekend"]=1

for i in data:
    i["weekend"].fillna(0, inplace=True)

pd.pivot_table(train, values="count", index=["weekend"], aggfunc="mean", margins=True)

              count
weekend
0.0      192.724589
1.0      188.765096
All      191.574132

In [12]:
test["weekend"].value_counts()

0.0    4642
1.0    1851
Name: weekend, dtype: int64

In [13]:
train["weekend"].value_counts()

0.0    7723
1.0    3163
Name: weekend, dtype: int64

In [15]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060,0.255624,-0.088388,-0.002433
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504,0.004859,0.010091,-0.109748
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567,0.025632,0.013409,-0.934780
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603,-0.054109,0.012894,-0.032078
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683,0.984324,0.025075,-0.030873
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918,0.969867,-0.005787,-0.023405
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579,-0.066056,-0.270216,0.010463
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913,-0.016404,0.758020,-0.016816
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110,0.462507,0.105882,0.311558
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779,0.314014,0.112093,-0.114959
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210,0.389388,0.122667,-0.009925
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000,-0.049118,-0.220816,0.011990
temp2,0.255624,0.004859,0.025632,-0.054109,0.984324,0.969867,-0.066056,-0.016404,0.462507,0.314014,0.389388,-0.049118,1.000000,0.029100,-0.028099
windspeed2,-0.088388,0.010091,0.013409,0.012894,0.025075,-0.005787,-0.270216,0.758020,0.105882,0.112093,0.122667,-0.220816,0.029100,1.000000,-0.017470
weekend,-0.002433,-0.109748,-0.934780,-0.032078,-0.030873,-0.023405,0.010463,-0.016816,0.311558,-0.114959,-0.009925,0.011990,-0.028099,-0.017470,1.000000

In [37]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,3.0,2.0,1.0,1.0,3.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,3.0,2.0,1.0,1.0,3.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,3.0,2.0,1.0,1.0,3.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3.0,2.0,1.0,1.0,3.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,3.0,2.0,1.0,1.0,3.0

In [30]:
train["atemp"].describe()

count    10886.000000
mean        23.655084
std          8.474601
min          0.760000
25%         16.665000
50%         24.240000
75%         31.060000
max         45.455000
Name: atemp, dtype: float64

In [18]:
for i in data:
    i.loc[i["atemp"]<5,"atemp2"]=1
    i.loc[(i["atemp"]>=5) & (i["atemp"]<10),"atemp2"]=2
    i.loc[(i["atemp"]>=10) & (i["atemp"]<15),"atemp2"]=3
    i.loc[(i["atemp"]>=15) & (i["atemp"]<20),"atemp2"]=4
    i.loc[(i["atemp"]>=20) & (i["atemp"]<25),"atemp2"]=5
    i.loc[(i["atemp"]>=25) & (i["atemp"]<30),"atemp2"]=6
    i.loc[(i["atemp"]>=30) & (i["atemp"]<35),"atemp2"]=7
    i.loc[i["atemp"]>=35,"atemp2"]=8

pd.pivot_table(train, values="count", index=["atemp2"], aggfunc="mean", margins=True)

             count
atemp2
1.0      49.977273
2.0      68.761726
3.0      98.376895
4.0     146.936842
5.0     175.685455
6.0     183.157815
7.0     279.132765
8.0     330.900889
All     191.574132

In [38]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060,0.255624,-0.088388,-0.002433,0.264021
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504,0.004859,0.010091,-0.109748,-0.009162
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567,0.025632,0.013409,-0.934780,0.027313
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603,-0.054109,0.012894,-0.032078,-0.050644
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683,0.984324,0.025075,-0.030873,0.966722
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918,0.969867,-0.005787,-0.023405,0.983705
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579,-0.066056,-0.270216,0.010463,-0.044507
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913,-0.016404,0.758020,-0.016816,-0.051720
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110,0.462507,0.105882,0.311558,0.461238
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779,0.314014,0.112093,-0.114959,0.317053
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210,0.389388,0.122667,-0.009925,0.391571
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000,-0.049118,-0.220816,0.011990,-0.024723
temp2,0.255624,0.004859,0.025632,-0.054109,0.984324,0.969867,-0.066056,-0.016404,0.462507,0.314014,0.389388,-0.049118,1.000000,0.029100,-0.028099,0.952525
windspeed2,-0.088388,0.010091,0.013409,0.012894,0.025075,-0.005787,-0.270216,0.758020,0.105882,0.112093,0.122667,-0.220816,0.029100,1.000000,-0.017470,0.001711
weekend,-0.002433,-0.109748,-0.934780,-0.032078,-0.030873,-0.023405,0.010463,-0.016816,0.311558,-0.114959,-0.009925,0.011990,-0.028099,-0.017470,1.000000,-0.024680
atemp2,0.264021,-0.009162,0.027313,-0.050644,0.966722,0.983705,-0.044507,-0.051720,0.461238,0.317053,0.391571,-0.024723,0.952525,0.001711,-0.024680,1.000000

In [39]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,3.0,2.0,1.0,1.0,3.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,3.0,2.0,1.0,1.0,3.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,3.0,2.0,1.0,1.0,3.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3.0,2.0,1.0,1.0,3.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,3.0,2.0,1.0,1.0,3.0

In [21]:
lista = []
for i in train.datetime.iteritems():
    lista.append(int(i[1][11:13]))
train["hora"] = lista

lista = []
for i in train.datetime.iteritems():
    lista.append(int(i[1][8:10]))
train["dia"] = lista

lista = []
for i in train.datetime.iteritems():
    lista.append(int(i[1][5:7]))
train["mes"] = lista

In [22]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,3.0,2.0,1.0,1.0,3.0,0,1,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,3.0,2.0,1.0,1.0,3.0,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,3.0,2.0,1.0,1.0,3.0,2,1,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3.0,2.0,1.0,1.0,3.0,3,1,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,3.0,2.0,1.0,1.0,3.0,4,1,1

In [24]:
lista = []
for i in test.datetime.iteritems():
    lista.append(int(i[1][11:13]))
test["hora"] = lista

lista = []
for i in test.datetime.iteritems():
    lista.append(int(i[1][8:10]))
test["dia"] = lista

lista = []
for i in test.datetime.iteritems():
    lista.append(int(i[1][5:7]))
test["mes"] = lista

In [25]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3.0,3.0,2.0,0.0,3.0,0,20,1
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3.0,3.0,1.0,0.0,3.0,1,20,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3.0,3.0,1.0,0.0,3.0,2,20,1
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3.0,3.0,2.0,0.0,3.0,3,20,1
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,3.0,3.0,2.0,0.0,3.0,4,20,1

In [56]:
pd.pivot_table(train, values="count", index=["hora"], aggfunc="mean", margins=True)

           count
hora
0      55.138462
1      33.859031
2      22.899554
3      11.757506
4       6.407240
5      19.767699
6      76.259341
7     213.116484
8     362.769231
9     221.780220
10    175.092308
11    210.674725
12    256.508772
13    257.787281
14    243.442982
15    254.298246
16    316.372807
17    468.765351
18    430.859649
19    315.278509
20    228.517544
21    173.370614
22    133.576754
23     89.508772
All   191.574132

In [26]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,0.172060,0.255624,-0.088388,-0.002433,0.264021,-0.006546,0.001729,0.971524
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.011504,0.004859,0.010091,-0.109748,-0.009162,-0.000354,-0.015877,0.001731
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.007567,0.025632,0.013409,-0.934780,0.027313,0.002780,0.009829,-0.003394
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,0.282603,-0.054109,0.012894,-0.032078,-0.050644,-0.022740,-0.007890,0.012144
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.050683,0.984324,0.025075,-0.030873,0.966722,0.145430,0.015551,0.257589
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.025918,0.969867,-0.005787,-0.023405,0.983705,0.140343,0.011866,0.264173
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,0.801579,-0.066056,-0.270216,0.010463,-0.044507,-0.278011,-0.011335,0.204537
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.280913,-0.016404,0.758020,-0.016816,-0.051720,0.146631,0.036157,-0.150192
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,-0.288110,0.462507,0.105882,0.311558,0.461238,0.302045,0.014109,0.092722
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.210779,0.314014,0.112093,-0.114959,0.317053,0.380540,0.019111,0.169451
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.255210,0.389388,0.122667,-0.009925,0.391571,0.400601,0.019826,0.166862
humidity2,0.172060,-0.011504,-0.007567,0.282603,-0.050683,-0.025918,0.801579,-0.280913,-0.288110,-0.210779,-0.255210,1.000000,-0.049118,-0.220816,0.011990,-0.024723,-0.246089,0.004533,0.186845
temp2,0.255624,0.004859,0.025632,-0.054109,0.984324,0.969867,-0.066056,-0.016404,0.462507,0.314014,0.389388,-0.049118,1.000000,0.029100,-0.028099,0.952525,0.143412,0.022164,0.254492
windspeed2,-0.088388,0.010091,0.013409,0.012894,0.025075,-0.005787,-0.270216,0.758020,0.105882,0.112093,0.122667,-0.220816,0.029100,1.000000,-0.017470,0.001711,0.144418,0.041925,-0.090277
weekend,-0.002433,-0.109748,-0.934780,-0.032078,-0.030873,-0.023405,0.010463,-0.016816,0.311558,-0.114959,-0.009925,0.011990,-0.028099,-0.017470,1.000000,-0.024680,-0.002724,-0.004266,0.002850
atemp2,0.264021,-0.009162,0.027313,-0.050644,0.966722,0.983705,-0.044507,-0.051720,0.461238,0.317053,0.391571,-0.024723,0.952525,0.001711,-0.024680,1.000000,0.140191,0.022221,0.264947
hora,-0.006546,-0.000354,0.002780,-0.022740,0.145430,0.140343,-0.278011,0.146631,0.302045,0.380540,0.400601,-0.246089,0.143412,0.144418,-0.002724,0.140191,1.000000,0.001132,-0.006818
dia,0.001729,-0.015877,0.009829,-0.007890,0.015551,0.011866,-0.011335,0.036157,0.014109,0.019111,0.019826,0.004533,0.022164,0.041925,-0.004266,0.022221,0.001132,1.000000,0.001974
mes,0.971524,0.001731,-0.003394,0.012144,0.257589,0.264173,0.204537,-0.150192,0.092722,0.169451,0.166862,0.186845,0.254492,-0.090277,0.002850,0.264947,-0.006818,0.001974,1.000000

In [61]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2,hora
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,3.0,2.0,1.0,1.0,3.0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,3.0,2.0,1.0,1.0,3.0,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,3.0,2.0,1.0,1.0,3.0,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3.0,2.0,1.0,1.0,3.0,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,3.0,2.0,1.0,1.0,3.0,4

In [27]:
data = [train, test]

for i in data:
    i["windspeed2"] = i["windspeed2"].astype(int)
    i["weekend"] = i["weekend"].astype(int)
    i["temp2"] = i["temp2"].astype(int)
    i["atemp2"] = i["atemp2"].astype(int)
    i["humidity2"] = i["humidity2"].astype(int)
    i["temp"] = i["temp"].astype(int)
    i["atemp"] = i["atemp"].astype(int)
    i["humidity"] = i["humidity"].astype(int)
    i["windspeed"] = i["windspeed"].astype(int)

In [28]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes
0,2011-01-01 00:00:00,1,0,0,1,9,14,81,0,3,13,16,3,2,1,1,3,0,1,1
1,2011-01-01 01:00:00,1,0,0,1,9,13,80,0,8,32,40,3,2,1,1,3,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9,13,80,0,5,27,32,3,2,1,1,3,2,1,1
3,2011-01-01 03:00:00,1,0,0,1,9,14,75,0,3,10,13,3,2,1,1,3,3,1,1
4,2011-01-01 04:00:00,1,0,0,1,9,14,75,0,0,1,1,3,2,1,1,3,4,1,1

In [84]:
dropa = ['datetime','temp2','atemp','windspeed','humidity']
train2 = train.drop(dropa, axis=1)
test2 = test.drop(dropa, axis=1)

In [65]:
train2.head()

,season,holiday,workingday,weather,casual,registered,count,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes
0,1,0,0,1,3,13,16,3,2,1,1,3,0,1,1
1,1,0,0,1,8,32,40,3,2,1,1,3,1,1,1
2,1,0,0,1,5,27,32,3,2,1,1,3,2,1,1
3,1,0,0,1,3,10,13,3,2,1,1,3,3,1,1
4,1,0,0,1,0,1,1,3,2,1,1,3,4,1,1

In [95]:
X_train = train2.drop(['casual','registered','count'], axis=1)
y_train = train2['count']
X_test = test2.drop(['count'], axis=1)

In [86]:
from sklearn.tree import DecisionTreeClassifier

In [96]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred_DTC = clf.predict(X_test)
acc_DTC = round (clf.score(X_train,y_train)*100,2)
print(str(acc_DTC) + " porcentagem")

98.53 porcentagem

In [97]:
test2["count"] = y_pred_DTC

In [98]:
test["count"] = test2["count"]

In [99]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,humidity2,temp2,windspeed2,weekend,atemp2,hora,dia,mes,count
0,2011-01-20 00:00:00,1,0,1,1,10,11,56,26,3,3,2,0,3,0,20,1,3
1,2011-01-20 01:00:00,1,0,1,1,10,13,56,0,3,3,1,0,3,1,20,1,5
2,2011-01-20 02:00:00,1,0,1,1,10,13,56,0,3,3,1,0,3,2,20,1,12
3,2011-01-20 03:00:00,1,0,1,1,10,12,56,11,3,3,2,0,3,3,20,1,4
4,2011-01-20 04:00:00,1,0,1,1,10,12,56,11,3,3,2,0,3,4,20,1,1

In [104]:
x = test.drop(["dia","mes","season",'holiday','workingday','weather','temp','atemp','humidity','windspeed','temp2','windspeed2','weekend','atemp2','hora','humidity2'],axis=1)
x.head()

              datetime  count
0  2011-01-20 00:00:00      3
1  2011-01-20 01:00:00      5
2  2011-01-20 02:00:00     12
3  2011-01-20 03:00:00      4
4  2011-01-20 04:00:00      1

In [105]:
x.set_index("datetime", inplace=True)
x.to_csv("resultado4.csv")

#Testando com o count sendo gerado a partir da gerao do casual e registered

In [73]:
X_train = train2.drop(['casual','registered','count'], axis=1)
y_train = train2['casual']
X_test = test2.drop(['count'], axis=1)

In [74]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred_DTC = clf.predict(X_test)
acc_DTC = round (clf.score(X_train,y_train)*100,2)
print(str(acc_DTC) + " porcentagem")

98.63 porcentagem

In [75]:
test2["casual"] = y_pred_DTC

In [76]:
X_train = train2.drop(['casual','registered','count'], axis=1)
y_train = train2['registered']
X_test = test2.drop(['casual', 'count'], axis=1)

In [77]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred_DTC = clf.predict(X_test)
acc_DTC = round (clf.score(X_train,y_train)*100,2)
print(str(acc_DTC) + " porcentagem")

98.56 porcentagem

In [78]:
test2["registered"] = y_pred_DTC

In [79]:
lista = []
lista2 = []
lista3 = []
for i in test2.casual.iteritems():
    lista.append(i[1])
lista3.append(lista)
    
for i in test2.registered.iteritems():
    lista2.append(i[1])

lista3.append(lista2)

In [80]:
lista = []
for i in range(len(lista3[0])):
    x = lista3[0][i] + lista3[1][i]
    lista.append(x)

test2["count"]=lista2

In [81]:
test["count"] = test2["count"]

In [82]:
x = test.drop(["dia","mes","season",'holiday','workingday','weather','temp','atemp','humidity','windspeed','temp2','windspeed2','weekend','atemp2','hora','humidity2'],axis=1)
x.head()

              datetime  count
0  2011-01-20 00:00:00     16
1  2011-01-20 01:00:00     16
2  2011-01-20 02:00:00      5
3  2011-01-20 03:00:00      1
4  2011-01-20 04:00:00      1

In [83]:
x.set_index("datetime", inplace=True)
x.to_csv("resultado4.csv")

#Submisso pela obteno do count diretamente obteve melhor resultado